
<template>
  
    <section class="max-w-full mx-auto px-4 sm:px-6 lg:px-4">
      <!-- Faire une function IdClientNumber pour qu'il apparraisse comme sur la page info-->
      
      <IdClient/>
      
      <div class="flex place-content-evenly m-6">

        <button
          v-if="!showIpAddress"
          class="relative shadow-xl rounded group flex items-center text-white justify-center bg-gradient-to-r from-cyan-500 to-[#478CF7] px-2 py-2 m-2"
          @click="showTable">
          <div
            class="absolute inset-0 w-0 bg-white opacity-10 transition-all duration-[0.3s] ease-out group-hover:w-full">
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 mr-2">
            <path v-if="showConnect" stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            <path v-else stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />

         </svg>
          <span class="font-bold">{{ showConnect ? 'Tableau APN' : 'Retour' }}</span>
        </button>
        
        <button
          v-if="!showTableApn"
          class="relative shadow-xl rounded group flex items-center text-white justify-center bg-gradient-to-r from-cyan-500 to-[#478CF7] px-5 py-2 m-2"
          @click="showIpAddressTable">
          <div
            class="absolute inset-0 w-0 bg-white opacity-10 transition-all duration-[0.3s] ease-out group-hover:w-full">
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 mr-2">
            <path v-if="showConnect" stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            <path v-else stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />

          </svg>
          <span class="font-bold">{{ showConnect ? 'Adresses IP' : 'Retour' }}</span>
        </button>

      </div>


      <div v-if="showConnect">

        <div class="grid grid-cols-1 border-4 border-[#478CF7] drop-shadow border-solid rounded-xl sm:grid-cols-2 gap-8">
      <div v-for="(item, index) in dataItems" :key="index" class="w-full bg-[#FCFCFC] rounded-lg p-12 flex flex-col justify-center items-center">
        <div class="mt-2 flex items-center justify-center rounded-full bg-black p-[26px] text-5xl font-bold cursor-pointer">
          <img :src="dataImages[index].image" alt="">
        </div>
        <h4 class="mb-px mt-3 text-2xl font-bold text-navy-700 dark:text-black">
          {{ item.title }}
        </h4>
        <p class="px-5 text-center text-base font-normal text-black md:!px-0 xl:!px-8">
          {{ item.description }}
        </p>
      </div>
    </div>
      </div>

      <table-apn v-else-if="showTableApn"></table-apn>
      <IPAddress v-else-if="showIpAddress" ></IPAddress>

    </section>
  
</template>


<script lang="ts">

import TableApn from '@/components/TableApn.vue';
import IPAddress from '@/components/IPAddress.vue';
import IdClient from '@/components/IdClient.vue'
import { defineComponent } from 'vue';
import axios, { AxiosResponse } from 'axios';

interface Connect {
  image: string;
  title: string;
  description: string;
}


export default defineComponent( {
  components: {
    TableApn,
    IPAddress,
    IdClient,
  },
  data() {
    return {
      showIpAddress: false,
      showTableApn: false,
      showConnect: true,
      showIdClient: true,
      dataImages: [
        {
          image: ("src/assets/router.png"),
          
        },
        {
          image: ("src/assets/identification-card.png"),
          
        },
        {
          image: ("src/assets/version.png"),
          
        },
        {
          image: ("src/assets/sim-card.png"),
         
        },
      ],
      dataItems: [] as Connect[],
    };
    
  },
  methods: {
    showTable() {
      this.showConnect = !this.showConnect;
      this.showTableApn = !this.showTableApn;
    },
    showIpAddressTable() {
      this.showConnect = !this.showConnect;
      this.showIpAddress = !this.showIpAddress;
    },
    prepareDataItems() {
    this.dataItems.forEach((item, index) => {
        item.image = this.dataImages[index].image;
    });
},
  },
    mounted() {
    axios
      .get('http://localhost:8080/api/connect')
      .then((response: AxiosResponse<Connect[]>) => {
        console.log(response.data);
        this.dataItems = response.data;
        this.prepareDataItems(); // Appel de la méthode pour associer les images
      })
      .catch((e: Error) => {
          console.log(e);
        });
},
})

</script>
