

<template>
   <div class="flex justify-center mx-auto">
   <Login />
   </div>
</template>

<script lang='ts'>

import Login from '../components/Login.vue';

       export default{
    components: { Login }
}
     
 </script>