<template>
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4">

    <IdClient />

    <div class="flex place-content-evenly m-6">
      <button
        class="relative shadow-xl rounded group flex items-center text-white justify-center bg-gradient-to-r from-cyan-500 to-[#478CF7] px-5 py-2"
        @click="showCommissioning">
        <div class="absolute inset-0 w-0 bg-white opacity-10 transition-all duration-[0.3s] ease-out group-hover:w-full">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6 mr-2">
          <path v-if="!isCommissioning" stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          <path v-else stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />

        </svg>
        <span class="font-bold">{{ !isCommissioning ? 'Mise en service' : 'Retour' }}</span>
      </button>
    </div>
    <div v-if="!isCommissioning"
      class="grid grid-cols-1 border-4 border-[#478CF7] drop-shadow border-solid rounded-xl sm:grid-cols-2 gap-6">
    
      <div v-for="(item, index) in dataItems" :key="index" class="w-full bg-[#FCFCFC] rounded-lg p-12 flex flex-col justify-center items-center">
      <div class="mt-2 flex items-center justify-center rounded-full p-[26px] text-5xl font-bold text-brand-500 dark:text-white cursor-pointer"
          :class="{
            'bg-red-700': index === 0 && !item.isConnected,
            'bg-green-500': index === 0 && item.isConnected,
          }"
          @click="toggleConnectionStatus(index)">
          <img :src="dataImage[index].image" alt="">
        </div>
        <h4 class="mb-px mt-3 text-2xl font-bold text-[#478CF7]" v-if="index === 0">
          {{ item.isConnected ? "Connecté" : "Déconnecté" }}
        </h4>
        <h4 class="mb-px mt-3 text-2xl font-bold text-[#478CF7]" v-else>
          {{ item.title }}
        </h4>
        <p class="px-5 text-center text-base font-normal text-black md:!px-0 xl:!px-8">
          {{ item.description }}
        </p>
      </div>
    </div>
    

    <div v-else>
      <Commissioning></Commissioning>
    </div>

  </section>
</template>

<script lang="ts">
import Commissioning from '@/components/Commissioning.vue';
import IdClient from '@/components/IdClient.vue';
import axios, { AxiosResponse } from 'axios';
import { defineComponent } from 'vue';

interface Infos {
  image: string;
  title: string;
  description: string;
  isConnected?: boolean;
}


export default defineComponent({
  components: {
    Commissioning,
    IdClient,
  },
  
  data() {
    return {
      isConnected: false,
      isCommissioning: false,
      dataImage: [
      {
        image: ("src/assets/signal-wifi.png")
      },
      {
        image: ("src/assets/numero-de-serie.png")
      },
      {
        image: ("src/assets/date-limite.png")
      },
      {
        image: ("src/assets/controle-de-version.png")
      },

    ],
      dataItems: [] as Infos[],     
    };
  },

methods: {
  showCommissioning() {
    this.isCommissioning = !this.isCommissioning;
  },
  
  toggleConnectionStatus(index: number) {
    if (index === 0) {
      this.dataItems[index].isConnected = !this.dataItems[index].isConnected;
    }
  },
  prepareDataItems() {
    this.dataItems.forEach((item, index) => {
        item.image = this.dataImage[index].image;
    });
},
},
mounted() {
axios
      .get('http://localhost:8080/api/infos')
      .then((response: AxiosResponse<Infos[]>) => {
        console.log(response.data);
        this.dataItems = response.data;
        this.prepareDataItems(); // Appel de la méthode pour associer les images
      })
      .catch((e: Error) => {
          console.log(e);
        });
},
})

</script>

<style scoped></style>
