

<template>
    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4">
        <IdClient />
        <div class="mx-auto py-8">
            <h1 class="text-2xl font-bold mb-6 text-center mt-12">Reset</h1>
            <form class="w-full max-w-sm mx-auto bg-white p-8 rounded-md border-4 border-[#478CF7]">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Choisir un fichier</label>
                    <input
                        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                        id="file_input" type="file">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="download">Télécharger</label>
                    <input
                        class="block w-full text-sm rounded-lg cursor-pointer" type="file" name="firmwareFile">
                </div>

            </form>
        </div>


    </section>
</template>


<script lang="ts">

import IdClient from '@/components/IdClient.vue'

export default {
    components: {
        IdClient,
    }
}

</script>