<template>
  <div class="mx-auto py-8">
    <h1 class="text-2xl font-bold mb-6 text-center mt-12">Mise en service</h1>
    <form @submit="online" class="w-full max-w-sm mx-auto bg-white p-8 rounded-md border-4 border-[#478CF7]">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">N° de série</label>
        <input v-model="serialNumber"
          class="w-full px-3 py-2 border border-gray-950 rounded-md focus:outline-none focus:border-[#478CF7]" type="text"
          id="name" name="name" placeholder="N°">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <input v-model='email'
          class="w-full px-3 py-2 border border-gray-950 rounded-md focus:outline-none focus:border-[#478CF7]"
          type="email" id="email" name="email" placeholder="jean@exemple.com">
      </div>
      <div class="mb-4">

        <label for="search-dropdown" class="block mb-2 text-sm font-medium text-gray-900">Code client</label>
        <select id="dropdown"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#478CF7] focus:border-[#478CF7] block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-grey dark:focus:ring-[#478CF7] dark:focus:border-[#478CF7]">
          <option selected>Requea</option>
          <option value="">Herve Thermique</option>
          <option value="">ROC42</option>
          <option value="">IoThink</option>
          <option value="">Velizy</option>
          <option value="">Sogetrel-Saumur</option>
          <option value="">Sogetrel-Nevers</option>
          <option value="">Sogetrel-SmartTpm</option>
          <option value="">Citylone</option>
          <option value="">CCVBA</option>
          <option value="">Advizeo</option>
          <option value="">Vonum</option>
          <option value="">SAUR</option>
          <option value="">Dryas</option>



        </select>


      </div>
      <!-- <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-password">Confirmer mot de passe</label>
        <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
          type="password" id="confirm-password" name="confirm-password" placeholder="********">
      </div> -->
      <button
        class="w-full bg-gradient-to-r from-cyan-500 to-[#478CF7] text-white text-sm font-bold py-2 px-4 rounded-md  transition duration-300"
        type="submit">Valider</button>
    </form>
  </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      serialNumber: '',
      email: '',
    };
  },
  methods: {
    online(event: Event) {
      event.preventDefault();
      // Effectuez ici votre logique d'authentification
      // Vérifiez les informations d'identification, effectuez une requête au serveur, etc.

      // Exemple basique de vérification des informations d'identification
      if (this.serialNumber === 'name' && this.email === 'email') {
        // Connection réussie
        alert('Connexion réussie');
        // Vous pouvez rediriger l'utilisateur vers une autre page ici
      } else {
        // Connection échouée
        alert('Connection échouée');

      }
    },
  },
});
</script>