
<template>
  <div class="min-h-screen">
    <div
      class="sidebar min-h-screen border-r w-56 bg-[#FCFCFC] shadow-lg col-3">
      <div class="flex h-screen bg-[#FCFCFC] flex-col justify-between pb-6">

        <ul class="mt-6 space-y-3 tracking-wide">
          <li class="min-w-max">
            <RouterLink to="/" aria-label="Accueil"
              class="relative flex items-center space-x-4 hover:rounded hover:bg-gradient-to-r from-cyan-500 to-[#478CF7] px-4 py-3 text-black-600 hover:text-white">


              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <span class="hover:-mr-1 font-medium group-hover:text-black-700 text-lg">Accueil</span>
            </RouterLink>
          </li>
          <li class="min-w-max">
            <RouterLink to="/connect" aria-label="Connect"
              class="relative flex items-center space-x-4 hover:rounded hover:bg-gradient-to-r from-cyan-500 to-[#478CF7] px-4 py-3 text-black-600 hover:text-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z" />
              </svg>
              <span class="hover:-mr-1 font-medium group-hover:text-black-700 text-lg">Connect</span>
            </RouterLink>
          </li>
          <li class="min-w-max">
            <RouterLink to="/test"
              class="idClient relative flex items-center space-x-4 hover:rounded hover:bg-gradient-to-r from-cyan-500 to-[#478CF7] px-4 py-3 text-black-600 hover:text-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
              </svg>
              <span class="hover:-mr-1 font-medium group-hover:text-black-700 text-lg">Test</span>
            </RouterLink>
          </li>

          <li class="min-w-max">
            <RouterLink to="/reset"
              class="relative flex items-center space-x-4 hover:rounded hover:bg-gradient-to-r from-cyan-500 to-[#478CF7] px-4 py-3 text-black-600 hover:text-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0l-3-3m3 3l3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
              </svg>
              <span class="hover:-mr-1 font-medium group-hover:text-black-700 text-lg">Reset</span>
            </RouterLink>
          </li>
        </ul>
      </div>
      <!-- Parametres??? -->
      <!-- <div class="w-max -mb-3">
        <a href="#" class="group flex items-center space-x-4 rounded-md px-4 py-3 text-black-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>

          <span class="group-hover:text-black-700
                ">Parametres</span>
        </a>
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import IdClient from '@/components/IdClient.vue'
    export default{
      IdClient
    }
</script>

<style scoped lang="css">
   
</style>