<template>
  <div class="flex justify-center my-8 flex-col">
    <h1 class="text-2xl text-center font-bold text-[#478CF7]">N° Identifiant client:</h1>
    <select v-model="selectedItem" class="my-6 rounded-lg border-2 border-[#478CF7]">
      <option v-for="item of items" :value="item" class="">{{ item.name }}</option>
    </select>
    <!-- <p v-for="item of items" :key:any="item" class="text-center font-bold text-black-800">{{ item.name }} </p> -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios, { AxiosResponse } from 'axios';

interface Clients {
  name: string;
}
export default defineComponent({
  data() {
    return {
      items: [] as Clients[],
      selectedItem: {} as Clients,
    };
  },
  mounted() {
    axios
    .get('http://localhost:8080/api/clients')
    .then((response:AxiosResponse<Clients[]>) => {
      this.items = response.data;
      this.selectedItem = this.items[0]; // Sélectionnez le premier objet par défaut
    })
    .catch((e: Error) => {
                console.log(e);
      
    });     
  },
})
</script>
