

<template>
    <section class="max-w-full mx-auto px-4 lg:px-4 py-12 xl:flex flex-row">
      <div class="flex flex-wrap justify-center lg:gap-12">
        <div v-for="(ipItem, index) in IpItems" :key="index" class="w-full md:w-6/12 lg:w-8/12 lg:mb-0 mb-12 px-4 shadow-lg rounded-lg m-6">
        <div class="m-2">
          <img alt="..." src="@/assets/adresse-ip.png" class="shadow-lg rounded-full mx-auto max-w-120-px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">{{ ipItem.name }}</h5>
            <p>{{ ipItem.address }}</p>
          </div>
        </div>
        </div>
      </div>
    </section>
  </template>
  
  <script lang="ts">
import axios, { AxiosResponse } from 'axios';
import { defineComponent } from 'vue';

interface IpAddress{
  name: string
  address: string
}

  export default defineComponent({
    data() {
      return {

          IpItems: [] as IpAddress[],
          
        };
      },
  
  mounted() {
  axios
      .get('http://localhost:8080/api/ipaddress')
      .then((response: AxiosResponse<IpAddress[]>) => {
        console.log(response.data);
        this.IpItems = response.data;
        
      })
      .catch((e: Error) => {
          console.log(e);
        });
},
})


  </script>
  