

<template>


<div class="mx-auto py-8">
    <h1 class="text-2xl font-bold mb-6 text-center">Connection</h1>
    <form @submit="login" class="w-full max-w-sm mx-auto bg-white p-8 rounded-md border-4 border-[#478CF7]">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Identifiant</label>
        <input v-model="username" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
        type="text" id="name" name="name" placeholder="N°">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
        type="email" id="email" name="email" placeholder="jean@exemple.com">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
        <input v-model= "password" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
        type="password" id="password" name="password" placeholder="********">
      </div>
      <!-- <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-password">Confirmer mot de passe</label>
        <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
        type="password" id="confirm-password" name="confirm-password" placeholder="********">
      </div> -->
      <button
      class="w-full bg-gradient-to-r from-cyan-500 to-[#478CF7] text-white text-sm font-bold py-2 px-4 rounded-md  transition duration-300"
      type="submit">Valider</button>
    </form>
  </div>

</template>

      <script lang="ts">
      import { defineComponent } from 'vue';
      
      export default defineComponent({
        data() {
          return {
            username: '',
            password: '',
          };
        },
        methods: {
          login(event: Event) {
            event.preventDefault();
            // Effectuez ici votre logique d'authentification
            // Vérifiez les informations d'identification, effectuez une requête au serveur, etc.
      
            // Exemple basique de vérification des informations d'identification
            if (this.username === 'admin' && this.password === 'password') {
              // Authentification réussie
              alert('Connexion réussie');
              // Vous pouvez rediriger l'utilisateur vers une autre page ici
            } else {
              // Authentification échouée
              alert('Identifiants invalides');
      
            }
          },
      },
      });
      </script>