<template>


   <p v-for="data in datas" :key="data">{{ data }}</p>

</template>


<script lang='ts'>

       export default {
        data() {

            return {
                datas: ['modem', 'IMEI','Version', 'SIM']
            }
        }
       }

</script>