<template>
  <div class="relative flex min-h-screen">
    <div 
      class="
          bg-cyan-600 
          text-cyan-100 
          w-64
          space-y-8
          px-2
          py-4
          absolute
          inset-y-0
          left-0
          md:relative
          md:-translate-x-0 
          transform
          -translate-x-full
          transition duration-200 
          ease-in-out
          "
        
          :class="{'relative hidden': showSideBar}"
    >
         
      <a href="" class="flex items-center space-x-2 px-4 py-4">
        <img src="/LogoREQUEA.svg" alt="SVG Image" />
      </a>
      <nav class="mt-10">
        <a
          href="/"
          class="
          flex 
          items-center 
          space-x-2 
          py-3   
          px-4 
          ml-2 
          my-2 
          hover:bg-cyan-700
          rounded
          hover:text-cyan-300
          transition duration-200
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>

          <span class="ml-2">Accueil</span>
        </a>
        <a
          href="/"
          class="
          flex 
          items-center 
          space-x-2 
          py-3 
          px-4 
          ml-2 
          my-2 
          hover:bg-cyan-700
          rounded
          hover:text-cyan-300
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
            />
          </svg>

          <span class="ml-2">Test</span>
        </a>
        <a
          href="/"
          class="
          flex 
          items-center 
          space-x-2 
          py-3 
          px-4 
          ml-2 
          my-2 
          hover:bg-cyan-700
          rounded
          hover:text-cyan-300
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.288 15.038a5.25 5.25 0 017.424 0M5.106 11.856c3.807-3.808 9.98-3.808 13.788 0M1.924 8.674c5.565-5.565 14.587-5.565 20.152 0M12.53 18.22l-.53.53-.53-.53a.75.75 0 011.06 0z"
            />
          </svg>

          <span class="ml-2">Connect</span>
        </a>
        <a
          href="/"
          class="
          flex 
          intems-center 
          space-x-2 
          py-3 
          px-4 
          ml-2 
          my-2 
          hover:bg-cyan-700
          rounded
          hover:text-cyan-300
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0l-3-3m3 3l3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
            />
          </svg>

          <span class="ml-2">Reset</span>
        </a>
        <a href="/"></a>
      </nav>
    </div>

    <div class="flex-1">
      <!-- header -->
      <div class="bg-white shadow px-2 py-4">
        <button @click="showSideBar = !showSideBar"
        class="text-cyan-600 font-extrabold ">
            <svg xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor" 
            class="w-8 h-8"
            >
            <path stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" 
                />
            </svg>

         </button> 
      </div>
         
      <div class="p-8 text-cyan-700 font-extra-bold">Content</div>
    </div>
  </div>
</template>

<script lang="ts">
import {ref} from 'vue';
export default {
    setup() {
        const showSideBar = ref(false);

        return {
            showSideBar
        }
    }
};
</script>
