
<template>
    <!-- component -->
    <section class="max-w-full mx-auto px-4 sm:px-6 lg:px-4 py-12">

        <div class="overflow-x-auto">
            <div class="flex items-center justify-center bg-[#FCFCFC] font-sans overflow-hidden">
                <div class="sm:w-full">
                    <div class="bg-white shadow-md rounded my-6">
                        <div class="table-container">
                            <table class="min-w-max w-full table-auto">
                                <thead>
                                    <tr class="bg-black-200 border text-gray-600 uppercase text-sm leading-normal">
                                        <th class="py-3 px-6 text-left">Operator</th>
                                        <th class="py-3 px-6 text-left">MNC</th>
                                        <th class="py-3 px-6 text-center">MCC</th>
                                        <th class="py-3 px-6 text-center">APN</th>
                                        <th class="py-3 px-6 text-center">Username</th>
                                        <th class="py-3 px-6 text-center">Password</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-600 text-sm font-light">
                                    <tr v-for="(operator, index) in operators" :key:any="operator"
                                        class="border-b border-gray-200 hover:bg-gray-100">
                                        <td class="py-3 px-6 text-left whitespace-nowrap">

                                            <div class="flex items-center">
                                                <div class="mr-2">
                                                    <img :src="logos[index].image" alt="" class="w-6 h-6">
                                                </div>
                                                <span class="font-medium">{{ operator.operator }}</span>
                                            </div>
                                        </td>
                                        <td class="py-3 px-6 text-left">
                                            <div class="flex items-center">
                                                <div class="mr-2">
                                                    <span
                                                        class="text-white font-semibold p-3 text-center inline-flex items-center justify-center w-10 h-10 rounded-full border-2 bg-[#C95140]">
                                                        {{ operator.mnc }}
                                                    </span>
                                                </div>

                                            </div>

                                        </td>
                                        <td class="py-3 px-6 text-center">
                                            <span
                                                class="text-white font-semibold p-3 text-center inline-flex items-center justify-center w-10 h-10 rounded-full border-2 bg-[#3D8CB2]">
                                                {{ operator.mcc }}
                                            </span>




                                        </td>
                                        <td class="py-3 px-6 text-center">
                                            <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs"> {{
                                                operator.Apn }}</span>

                                        </td>
                                        <td class="py-3 px-6 text-center">
                                            <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs"> {{
                                                operator.username }}</span>
                                            <!-- ICONS Voir/Modifier/Poubelle -->

                                        </td>
                                        <td class="py-3 px-6 text-center">

                                            <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">
                                                {{ operator.password }}
                                            </span>

                                        </td>
                                        <td class="py-3 px-6 text-center">
                                            <div class="flex item-center justify-center">
                                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                        stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                    </svg>
                                                </div>
                                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                        stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                    </svg>
                                                </div>
                                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                        stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="2"
                                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import axios, { AxiosResponse } from 'axios';
import { defineComponent } from 'vue';

interface ApnTable {
    image: string;
    operator: string;
    Apn: number;
    mnc: number;
    mcc: number;
    username: string;
    password: string;
}

export default defineComponent({
    data() {
        return {
            logos: [
                {
                    image: ("src/assets/Orange_logo.svg.png")
                },
                {
                    image: ("src/assets/Numerisat.jpg")
                },
                {
                    image: ("src/assets/SFR-2022-logo")
                },
                {
                    image: ("src/assets/soracom_square-logo")
                },
                {
                    image: ("src/assets/SWIR.svg")
                },
                {
                    image: ("src/assets/soracom_square-logo")
                }

            ],
            operators: [] as ApnTable[],

        };
    },

    methods: {

        //     getLogos(index: number): string {
        //   // Retourne le chemin de l'image en fonction de l'index
        //   switch (index) {
        //     case 0:
        //       return "src/assets/Orange_logo.svg.png";
        //     case 1:
        //       return "src/assets/Numerisat.jpg";
        //     case 2:
        //       return "src/assets/SFR-2022-logo";
        //     case 3:
        //       return "src/assets/Bouygues_Telecom_(alt_logo).svg";
        //     case 4:
        //         return "src/assets/soracom_square-logo" ;
        //     case 5:
        //         return "src/assets/SWIR.svg";
        //     case 6:
        //         return "src/assets/soracom_square-logo"
        //     default:
        //       return ""; // Retourne une chaîne vide si l'index est invalide
        //   }

        prepareOperators() {
            this.operators.forEach((item, index) => {
                item.image = this.logos[index].image;
            });
        },
    },

    mounted() {
        axios
            // Fetch data from API endpoint
            .get('http://localhost:8080/api/apn')
            .then((response: AxiosResponse<ApnTable[]>) => {
                console.log(response.data);
                this.operators = response.data;
                this.prepareOperators(); // Appel de la méthode pour associer les images
            })
            .catch((e: Error) => {
                console.log(e);
            });
            
    },
})

</script>

<style>.table-container {
    max-width: 920px;
    overflow-x: auto;
}</style>