<template>
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4">
    <IdClient />
    <div class="flex flex-wrap m-3 justify-center">
      <div
        v-for="(item, index) in testItems"
        :key="index"
        class="max-w-full sm:w-10/12 md:w-10/12 lg:w-12/12 xl:w-8/12 px-4 py-2 justify-center"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white rounded-lg mb-6 xl:mb-0 shadow-lg"
        >
          <div class="flex-auto p-4">
            <div class="flex flex-wrap">
              <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                  {{ titles[index].title }}
                </h5>
                <p class="text-sm text-blueGray-500 mt-4">
                  <span
                    :class="['text-emerald-500 mr-2', item.InfoIconClass]"
                  ></span>
                  <span :class="['whitespace-nowrap', item.IconClass]"></span>
                </p>
              </div>
              <div class="relative w-auto pl-4 flex-initial">
                <div
                  :class="[
                    'text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full',
                    item.IconColor,
                  ]"
                >
                  <span class="font-bold text-xl">{{ item.Status }}</span>
                  <i :class="['fas', item.IconClass]"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import IdClient from "@/components/IdClient.vue";
import axios, { AxiosResponse } from "axios";
import { defineComponent } from "vue";

interface Test {
  ID: number;
  Status: boolean;
  IconColor: string;
  IconClass: string;
  InfoIconClass: string;
  NbrSSH: number;
}

interface Title {
  title: string;
}

export default defineComponent({
  components: {
    IdClient,
  },
  data() {
    return {
      showIdClient: true,
      titles: [
        {
          title: "Lora",
        },
        {
          title: "Watchdog",
        },
        {
          title: "OpenVPN",
        },
        {
          title: "Monit",
        },
        {
          title: "IosAgent",
        },
        {
          title: "SSH",
        },
      ] as Title[],

      testItems: [] as Test[],
    };
  },
  mounted() {
    axios
      .get("http://localhost:8080/api/test")
      .then((response: AxiosResponse<Test[]>) => {
        console.log(response.data);
        this.testItems = response.data;
      })
      .catch((e: Error) => {
        console.log(e);
      });
  },
});
</script>
