<template>
  <nav>

    <Header />

  </nav>
  <main class="container-fluid">
    <div class="row flex">
      
      <CompactSideBar />

      <RouterView></RouterView>

    </div>
  </main>
</template>

<script setup lang="ts">
  
  import Header from '@/components/Header.vue';
  
</script>

<script lang="ts">

import CompactSideBar from '@/components/CompactSideBar.vue';


export default {
  components: {
    Header,
  }
}

</script>


<style scoped lang="css">

</style>


